**Exercise 1 : Prime Numbers**

In [ ]:
# A function to check for prime number
def prime_number(n): # n is a given number
  for i in range(2, n): # Prime number that is divisible by 1 and itself
    if n % i == 0:
      return print("Not Prime")
      break
    else:
      return print("Prime")

In [ ]:
# enter a number to check if it is prime or not
prime_number(58)

Not Prime

**Exercise 2 : Product of Random Numbers**

In [5]:
# generate two random numbers
import random
a = random.randint(1, 100)
b = random.randint(1, 100)
product = a * b
print('Guess the product of : ', a, 'and', b)
guess = input() # User input
if guess == product:
  print('Correct')
else:
  print('Wrong')

Guess the product of :  1 and 3
3
Correct

**Exercise 3 : Squares of Even / Odd Numbers**

In [9]:
# select all even numbers between 100 and 200
for i in range(100, 201, 2): # selects all even numbers
  print(i, i**2) # prints the even number and its square

100 10000
102 10404
104 10816
106 11236
108 11664
110 12100
112 12544
114 12996
116 13456
118 13924
120 14400
122 14884
124 15376
126 15876
128 16384
130 16900
132 17424
134 17956
136 18496
138 19044
140 19600
142 20164
144 20736
146 21316
148 21904
150 22500
152 23104
154 23716
156 24336
158 24964
160 25600
162 26244
164 26896
166 27556
168 28224
170 28900
172 29584
174 30276
176 30976
178 31684
180 32400
182 33124
184 33856
186 34596
188 35344
190 36100
192 36864
194 37636
196 38416
198 39204
200 40000

In [10]:
# select all odd numbers between 100 and 200
for i in range(101, 201, 2): # selects all odd numbers
  print(i, i**2) # prints the odd number and its square

101 10201
103 10609
105 11025
107 11449
109 11881
111 12321
113 12769
115 13225
117 13689
119 14161
121 14641
123 15129
125 15625
127 16129
129 16641
131 17161
133 17689
135 18225
137 18769
139 19321
141 19881
143 20449
145 21025
147 21609
149 22201
151 22801
153 23409
155 24025
157 24649
159 25281
161 25921
163 26569
165 27225
167 27889
169 28561
171 29241
173 29929
175 30625
177 31329
179 32041
181 32761
183 33489
185 34225
187 34969
189 35721
191 36481
193 37249
195 38025
197 38809
199 39601

**Exercise 4 : Word counter**

In [11]:
input_text = "This is a sample text. This text will be used to demonstrate the word counter."

In [14]:
# get all the words from the input into a list of words
text = input_text.split( )
text

['This',
 'is',
 'a',
 'sample',
 'text.',
 'This',
 'text',
 'will',
 'be',
 'used',
 'to',
 'demonstrate',
 'the',
 'word',
 'counter.']

In [28]:
# looping over all the words in the list and counting each word
for t in text:
  print(t, ':', text.count(t))

This : 2
is : 1
a : 1
sample : 1
text. : 1
This : 2
text : 1
will : 1
be : 1
used : 1
to : 1
demonstrate : 1
the : 1
word : 1
counter. : 1

**Exercise 5 : Check for palindrome**

In [40]:
# define a function to check for palindrome
def is_palindrome(input_text):
  if input_text == input_text[::-1]: # check if the input text is equal when read starting from the last letter
    return True
  else:
    return False

In [41]:
input_text = "racecar"
is_palindrome(input_text)

raceca

True